<div class="flex flex-col items-center my-8">
  <div class="container max-w-8xl mx-auto">
    <p class="h4">Enter store using password</p>
    <div class="password-login-form">
      <form
        method="post"
        action="/password"
        id="login_form"
        accept-charset="UTF-8"
        class="storefront-password-form">
        <input type="hidden" name="form_type" value="storefront_password">
        <input type="hidden" name="utf8" value="✓">
        
        <label for="password" class="label--hidden">Password</label>
        <div class="input-group">
          <input
            type="password"
            name="password"
            id="Password"
            class="border border-1 border-blue-700"
            placeholder="Your password" tabindex="-1"
          >
          <span class="input-group__btn">
            <button type="submit" name="commit" class="border border-slate-300 hover:border-indigo-300">
              <span class="icon__fallback-text">Enter</span>
            </button>
          </span>
        </div>
      </form>
    </div>
    <p>Are you the store owner? <a href="/admin" class="text-link">Log in here</a></p>
  </div>
</div>

{% schema %} 
{
  "name": "template-password",
  "settings": []
}
{% endschema %}